<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha de Inscrição</title>
</head>
<body>
    <form >
        nome=models.TextField(max_length=255)
        CPF = models.TextField(max_length=255)
        RG = models.TextField(max_length=255)
        Orgao=models.TextField(max_length=255)
        Emissao=models.DateField
        Cidade_Nascimento=models.TextField(max_length=255)
        Estado=models.TextField(max_length=255)
        Data_Nascimento=models.DateField
        Endereco = models.TextField(max_length=255)
        Setor_Bairro = models.TextField(max_length=255)
        Quadra = models.TextField(max_length=255)
        Lote= models.TextField(max_length=255)
        Apartamento= models.TextField(max_length=255)
        Complemento= models.TextField(max_length=255)
        Cidade=models.TextField(max_length=255)
        CEP=models.IntegerField
        Estado=models.TextField(max_length=255)
        Telefone=models.TextField(max_length=255)
        Email=models.TextField(max_length=255)
        Sexo = models.TextField(max_length=255)
        documento = models.FileField(upload_to='documentos/')  




    </form>
    
</body>
</html>